:root {
  /* colours */
  --accent: #ff339d;
  --base: color-mix(in srgb, var(--accent) 10%, black);
  --mantle: color-mix(in srgb, var(--accent) 20%, black);
  --text: color-mix(in srgb, var(--accent) 50%, white);
  --text-emphasis: color-mix(in srgb, var(--accent) 30%, white);

  /* fonts */
  --header: Roboto Flex;
  --body: Roboto Flex, Noto Color Emoji;
  --monospace: JetBrains Mono;
}

@media (prefers-color-scheme: light) {
  :root {
    --base: color-mix(in srgb, var(--accent) 10%, white);
    --mantle: color-mix(in srgb, var(--accent) 20%, white);
    --text: color-mix(in srgb, var(--accent) 50%, black);
    --text-emphasis: color-mix(in srgb, var(--accent) 30%, black);
  }
}

body {
  background-color: var(--base);
  font-family: var(--body);
}

main {
  margin-left: 15px;
}

p,
span {
  color: var(--text);
}

li {
  color: var(--text);
}

h1,
h2,
h3 {
  font-family: var(--header);
  font-stretch: extra-expanded;
  font-weight: 800;
  color: var(--text-emphasis);
}

.motd {
  font-size: 1.2em;
  font-family: var(--monospace);
  overflow-wrap: break-word;
}

hr {
  opacity: 0;
}

a {
  text-decoration: underline;
  color: var(--text-emphasis);
}

nav a {
  text-decoration: none;
}

header h1 {
  font-size: 3em;
  line-height: .5em;
}

footer {
  text-align: center;
}

code,
pre {
  font-family: var(--monospace);
  color: var(--text-emphasis);
  padding: 5px;
  border-radius: 25px;
}

code {
  padding: unset;
  border-radius: 4px;
  background-color: var(--mantle);
}

code.user {
  padding: 0 !important;
}

.cat {
  border: none;
  background: inherit;
  font-size: inherit;
  padding: none;
  margin: none;
}

.target {
  display: none;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  align-items: center;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  list-style-type: none;
}

nav li {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--mantle);
}


li>a[aria-current] {
  opacity: .5;
  cursor: normal;
}

header {
  margin: unset !important;
  padding: unset !important;
}

header h1 {
  margin-left: 1rem;
}

#picker {
  border: none;
  padding: none;
  background: transparent;
  color: var(--text);
}

#base,
#text,
#text-emphasis {
  width: fit-content;
  height: auto;
  padding: 3px;
  border: 1px solid gray;
}

#base {
  background: var(--base);
  color: var(--text-emphasis);
}

#text {
  background: var(--text);
  color: var(--base);
}

#text-emphasis {
  background: var(--text-emphasis);
  color: var(--base);
}

.big {
  width: 75% !important;
}

.clickable {
  cursor: pointer;
}

.clickable:active {
  opacity: 50%;
  user-select: none;
}

.card {
  display: flex;
  flex-flow: column wrap;

  width: 50%;
  height: auto;

  padding: 5px;

  background-color: var(--mantle);
  border-radius: 5px;
}

.card * {
  margin-left: 10px;
}

.card:last-child * {
  margin-bottom: 10px;
}

.header-anchor {
  text-decoration: none;
  font-style: normal;
  font-size: 1em;
  margin-left: .1em;
}

ol.list {
  display: flex;
  flex-flow: column nowrap;

  gap: .5rem;
}

a[href].header-anchor,
a[href].header-anchor:visited {
  color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
  text-decoration: underline;
}

a[href].header-anchor:focus,
:hover>a[href].header-anchor {
  color: var(--text);
}

h2+.header-anchor {
  font-size: 1.5em;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@keyframes appear {
  0% {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }

  100% {
    clip: unset;
    clip-path: unset;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(-25%) rotate(90deg);
  }

  50% {
    transform: translateY(-50%) rotate(180deg);
  }

  75% {
    transform: translateY(-25%) rotate(270deg);
  }

  100% {
    transform: translateY(0%) rotate(360deg);
  }
}