:root {
  /* colours */
  --accent: #ff339d;
  --base: color-mix(in srgb, var(--accent) 10%, black);
  --mantle: color-mix(in srgb, var(--accent) 20%, black);
  --text: color-mix(in srgb, var(--accent) 50%, white);
  --text-emphasis: color-mix(in srgb, var(--accent) 30%, white);

  /* fonts */
  --header: Roboto;
  --body: Roboto, 'Noto Color Emoji';
  --monospace: 'JetBrains Mono';
}

@media (prefers-color-scheme: light) {
  :root {
    --base: color-mix(in srgb, var(--accent) 10%, white);
    --mantle: color-mix(in srgb, var(--accent) 20%, white);
    --text: color-mix(in srgb, var(--accent) 50%, black);
    --text-emphasis: color-mix(in srgb, var(--accent) 30%, black);
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}