body {
    margin: 0 0;
    padding: 0 0;
    
    background-color: var(--base);
    color: var(--text);
    
    font-family: var(--body);
}

main {
    margin: 0 2rem;
    padding: 0 0;
}

header.navigation {
    display: block;
    height: 5rem;
    width: 100%;

    top: 0;
    left: 0;
    position: sticky;
    z-index: 5;
}

header h1 {
    margin-left: 1rem;
}

header nav {
    background-color: var(--mantle);
    color: var(--text);
    display: flex;
}

header nav ul {
    display: flex;
    flex-direction: row;
    
    list-style-type: none;
    margin: 0 1rem;
    padding: unset;
    
    gap: 1rem;
}

hr {
    margin: 0 0;
    padding: 0 0;
    color: var(--accent);
}

nav li > a {
    display: flex;

    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    
    
    color: var(--text);
    
    text-decoration: none;
    padding-inline: 1rem;
}

a {
    color: var(--text-emphasis);
}

a:visited {
    color: var(--text);
}

li > a[aria-current="page"] {
    color: var(--text-emphasis);
    font-weight: 700;
}

footer {
    margin-top: 5rem;
    background-color: var(--mantle);
    padding-bottom: 1rem;
}

footer p,
footer div.target,
footer div.links {
    margin-left: 1rem;
}

footer hr {
    border: 2px solid var(--accent);
    box-shadow: 0 0 5px var(--accent);
    
    z-index: 6;
}

.cat {
    border: none;
    background: inherit;
    font-size: inherit;
    padding: 0 0;
    margin: 0 0;
    
    font-family: 'Noto Color Emoji', sans-serif;
}

.target {
    display: none;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

section#fediring {
    margin-left: auto;
    margin-right: 1rem;
}

section#fediring nav.fedi {
    display: flex;
    height: 100%;

    align-items: center;
    justify-content: center;
    
    gap: 1rem;
}

section#fediring nav.fedi a {
    text-decoration: none;
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }

  25% {
        transform: translateY(-25%) rotate(90deg);
    }

  50% {
        transform: translateY(-50%) rotate(180deg);
    }

  75% {
        transform: translateY(-25%) rotate(270deg);
    }

  100% {
        transform: translateY(0%) rotate(360deg);
    }
}
