@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

div.container {
  overflow: hidden;
  margin-right: .2rem;
  width: 100%;
}

.marquee {
  animation: marquee 10s linear infinite;
}