---
layout: layouts/home.njk
eleventyNavigation:
  key: "@me"
  order: 3
---
<h2 id="me">About Me</h2>
<p>
  I am a 17-year-old teenager currently living in the Dominican Republic. Born in April 17, 2007,
  I've always had a thing for computers, starting my journey when I was a small 9 year-old which
  was where I found an interest for programming after wondering how YouTube was made.
</p>

<p>
  My main hobbies are drawing, graphics design and frontend programming. My favourite food is sushi
  and cats are my animal of choice (because I share a lot of personality traits with them :3c).
</p>

<h3 id="projects">My projects</h3>

<p>
  Most of my projects are open-source and related to the community chatting platform,
  <a href="https://revolt.chat/?utm_source=amy">Revolt</a>. I generally focus on frontend development
  as it is the most easy and is where I have the most knowledge on, but I am also learning how to make
  backends in both Kotlin and rust.
</p>

<p>
  I believe in fully open-source software and hardware, so I always open-source my code and make it
  available on <a href="https://codeberg.org/amycatgirl?tab=repositories">Codeberg</a> (I plan on
  switching to git.gay long term due to multiple issues I've found with Codeberg, such as uptime). 
</p>

<p>
  I also have <a href="https://github.com/amycatgirl">a GitHub account</a>, which is slightly less active.
<p>

<h3 id="site">About this site</h3>

<p>
  This site was made purely for fun.
</p>

<p>
  I've always loved minimalistic blogs, they look clean and go straight to the point. A good example
  of a minimalistic blog service is <a href="https://bearblog.dev">BearBlog</a>, which is a no BS blogging
  service. So I decided to "borrow" the design and make my own adaptation, which is what you are probably
  looking at right now.
</p>

<p>
  You can learn more about the process of how I've made my site, and how <b>you</b> could also make your
  own, <a href="/blog/xenon-redesign">here</a>.
</p>


<h3 id="pfp">Profile Picture</h3>

<h4>Current</h4>

<p>
  This profile picture is a design I made that I think it represents me. It's pink, it has a cat and it's very simple.  
</p>

<h4>Previous profile picture</h4>

<p>
  My current profile picture is a cropped version of <a href="https://twitter.com/rakutpi/status/1689865819323527168">this post</a>
  from Twitter by Rakutpi (楽太郎). I chose this picture because would <i>love</i> being an energetic,
  pink-haired catgirl.
</p>

<h3 id="button">My button</h3>

<p>Feel free to add my button to your site!</p>

<img src="/assets/8831.png" width=88 height=31 alt="Dark 88x31 button with pink text that reads: amycatgirl" />

<h3 id="qna">Inquiries</h3>

<p>
  If you've got any questions or would like to contact me directly, you can do so through my email over at
  <a href="mailto:amy+heya@amogus.cloud">amy+heya@amogus.cloud</a>, or, if you feel like that's too formal,
  you can also contact me through <a href="/media">my social media accounts</a>.
</p>
