---
layout: layouts/home.njk
eleventyNavigation:
  key: blog
  order: 2
---
<link rel="stylesheet" href="/styles/blog.css">

<header>
  <h2>Posts</h2>
  <div class="actions">
    <a class="material-symbols-outlined" title="RSS Feed" href="/feed/feed.xml">
      rss_feed
    </a>
    <a class="material-symbols-outlined" title="JSONFeed" href="/feed/feed.json">
      data_object
    </a>
    <a class="material-symbols-outlined" title="Tags" href="/tags/">
      sell
    </a>
  </div>
</header>

{% set postslist = collections.posts %}
{% include "postlist.njk" %}
