---
layout: layouts/home.njk
eleventyNavigation:
  key: Connections
  order: 3
---
<section>
  <header>
    <h2>Conections</h2>
  </header>
  <p>Here are some people who I have as friends on other platforms</p>
  <ul>
    <li><a href="https://sneexy.pages.gay/?utm_source=amycatgirl">Sneexy</a>: Shitposter and amazing gaybo :3</li>
    <li><a href="https://segfault.us.to/?utm_source=amycatgirl">Error 404: Null Not Found</a>: Albeit nerdy, she is a very friendly person and a good friend</li>
    <li><a href="https://rexogamer.github.io/?utm_source=amycatgirl">Rexogamer</a>: Cute rvmob dev, always there when you need her the most</li>
    <li><a href="https://loki.monster/?utm_source=amycatgirl">Lokicalmito</a>: Cool guy, love his blender renders, definitely check him out</li>
    <li><a href="https://vale.rocks/?utm_source=amycatgirl">Vale</a>: Very good friend and person overall, their website is pretty damm cool (also thanks for that motivation message ;3)</li>
    <li><bold>Inderix</bold>: Designer guy does designer stuff, I love your designs :3c</li>
  </ul>
</section>
<section>
  <header>
    <h2>Social Media</h2>
  </header>
  <p>Where to find me outside of these pink walls I call home</p>
  <ul>
   <li><a>Fediverse: @amycatgirl@wetdry.world</a></li> 
   <li><a>Codeberg: amycatgirl</a></li> 
   <li><a>Github: amycatgirl</a></li> 
   <li><bold>Revolt: amycatgirl#9237</bold></li> 
  </ul>
</section>
<section>
  <header>
    <h2>Reviews (User curated)</h2>
  </header>
  <ul>
   <li>The website of the yet<br><small>— mdwalters</small></li> 
  </ul>
</section>
