---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 1
---
<link rel="stylesheet" href="/styles/home.css">
<div class="catchphrase">
  <img
    src="https://github.com/amycatgirl.png"
    width="150" height="150"
    alt="Graphic of a cat silohuette coloured hot pink on top of a pink background."
  >
  <div class="list">
    <h2>Developer,</h2>
    <h2>Artist,</h2>
    <h2>Full-time catgirl.</h2>
  </div>
</div>
<p>
  Heya! My name is Amy
</p>

<p>
  I am a 17 year old developer living in the Dominican Republic who likes code, cats and sushi!
</p>

<p>
  My favourite colours are light pink, light blue and white and my favourite hobby is to create web applications for everyone.
</p>

<p>
  Use the links at the top of the page to read my blog or learn more about me and my projects!
</p>
