---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<link rel="stylesheet" href="/styles/home.css">
<div class="catchphrase">
  <img
    src="/assets/profile.jpg"
    width="150" height="150"
    alt="Image of a pink-haired, blue-eyed catgirl with her mouth open. She is wearing white clothes and a hat of the same colour and has a red coloured flower pinned on her hair; She is also rasing her hands, imitating a cat that is scratching some object."
  >
  <div class="list">
    <h2>Developer,</h2>
    <h2>Artist,</h2>
    <h2>Full-time catgirl.</h2>
  </div>
</div>
<p>
  Heya! My name is Amy
</p>

<p>
  I am a 16 year old developer living in the Dominican Republic who likes code, cats and sushi!
</p>

<p>
  My favourite colours are light pink, light blue and white and my favourite hobby is to create web applications for everyone.
</p>

<p>
  Use the links at the top of the page to read my blog or learn more about me and my projects!
</p>
