---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
    <section>
      <h2>Ummmm, hi!</h2>
      <p>I am Amy. I am a 16-year-old transfem. I live in the Dominican Republic.</p>
      <p>I love cats, foxes and red pandas!</p>
      <p>
        My hobby is programming small applications and websites, for example,
        this website!
      </p>
    </section>
    <section>
      <h2>What do I use</h2>
      <ul>
        <li>
          <h3>Laptop:</h3>
          <p>Lenowo Thinkpad P43s</p>
        </li>
        <li>
          <h3>Code Editor:</h3>
          <p>Jetbrains Fleet</p>
        </li>
        <li>
          <h3>OS:</h3>
          <p>Ubuntu 23.10</p>
        </li>
      </ul>
    </section>
    <section>
      <h2>Website stack:</h3>
      <ul>
        <li>
          <p>HTML, CSS and a tiny bit of JS</p>
        </li>
        <li>
          <p>Eleventy
        </li>
        <li>
          <p>Codeberg Pages</p>
        </li>
      </ul>
    </section>
    <section>
      <h2>Projects</h2>
      <p>
        Below is a list of projects I've made, organized for your convenience.
      </p>
      <div>
        <ul>
          <li>
            <h3>GoNotifyMe (Discontinued)</h3>
            <p>
              Get a notification whenever a product is almost out of stock
            </p>
          </li>
          <li>
            <h3>Revite Plugins</h3>
            <p>
              Plugins tailored for revolt.chat's Revite client.
            </p>
          </li>
          <li>
            <h3>amyprettylinks-webextension</h3>
            <p>Copy APL formatted links right from your browser!</p>
            <a href="https://codeberg.org/amycatgirl/prettylinks-webextension">Repo</a>
          </li>
          <li>
            <h3>mastodon-revolt-status</h3>
            <p>Check revolt.chat's status right from the fediverse!</p>
            <a href="https://mastodon.bot/@rvltstatus" rel="me">Follow/View toots</a>
          </li>
          <li>
            <h3>Revolt Desktop Snap Package</h3>
            <p>Revolt desktop client tightly packaged as a snap for convenience</p>
            <a href="https://snapcraft.io/revolt-desktop/?utm_source=amycatgirl">Install</a>
          </li>
          <li>
            <h3>RevoltMini</h3>
            <p>Lightweight revolt client made with WebComponents and DOM APIs</p>
            <a href="/revoltmini">Try</a>
          </li>
        </ul>
        <h2>Contributions</h2>
        <p>I've contributed to the following projects:</p>
        <ul>
          <li>
            <h3>revolt.chat</h3>
            <p>3 UI/UX contributions, 1 <i>pending</i> backend contribution, snap package mantainer.</p>
            <h3></h3>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <h2>Website inspirations</h2>
      <p>
        This website was heavily inspired by
        <a href="https://motherfuckingwebsite.com?utm_source='amycatgirl'" target="_blank">Motherfucking Website</a>
        because I like minimal websites that get straight to the point without
        much things going on.
      </p>
      <p>
        Plus, it <i>was</i> easier to develop, as I didn't have to make sure that every
        element on the page could fit inside the page.
      </p>
      <p>
        Now, this website resembles Maniaplanet 4's UI, as I prefer the design more and it also works pretty well with
        this website's colours.
      </p>

    </section>
