---
layout: layouts/home.njk
eleventyNavigation:
  key: media
  order: 4
---
<link rel="stylesheet" href="/styles/wrapper.css">
<link rel="stylesheet" href="/styles/media.css">

<h2>Media</h2>
<p>
  Here lies my social media accounts. I share my experiences, artwork and talk with people,
  mostly on free, open and federated websites.
</p>
<div class="media mastodon">
  <div>
    <h2>mastodon</h2>
    <a href="http://wetdry.world/@amycatgirl">Follow</a>
  </div>
</div>

<p>
  Mastodon is a decentralized, sleek microblogging website for absolute beginners to the fediverse,
  which offers a familiar design.
</p>

<p>
  My account boosts cat pictures, art, and generally dumb stuff that I find funny or interesting.
  I also express my feelings and opinions over multiple topics, including software development. 
</p>

<div class="media pixelfed">
  <div>
    <h2>pixelfed</h2>
    <a href="http://pixelfed.social/@amycatgirl">Follow</a>
  </div>
</div>
<p>
  I don't quite like the word "clone" to refer to a project but I'll try my best to describe this
  site.
</p>

<p>
  Pixelfed is a federated social media that's inspired by instagram. The site is media-first, which means that
  you can't post anything if it doesn't have at least one image or video attached to it, again, similar to
  Meta's Instagram.
</p>

<p>
  I post photos of my surroundings here. Cats, birds, the sky, the endless void that surrounds us, you name
  it. I also post my artwork and graphics design thingies from time to time to break the monotony of the
  account because I don't do <i>just</i> photography, do I?
</p>

<div class="media matrix">
  <div>
    <h2>matrix</h2>
    <a>@amycatgirl:catgirl.cloud</a>
  </div>
</div>

<p>
  Matrix (Not to be confused with the movie of the same name) is a federated chatting application that puts security first. Like Mastodon and Pixelfed, it can communicate to other servers that are also using matrix, but unlike those, Matrix uses it's own protocol, which means that you can't communicate with me from Mastodon or Misskey.
</p>

<p>
  I recently switched from revolt.chat due to issues with some of it's team members. I won't go too into it, but I would recomend to look it up on my Mastodon account.
</p>

<h3>Buttons</h3>
<p>
  List of buttons from friends and other cool websites that you might want to check out
</p>

<div class="wrapper buttons">
  <a href="https://nekoweb.org"><img src="https://nekoweb.org/static/assets/buttons/button5.gif" alt="Animated 88x11 Button. The button says 'Nekoweb; Web is for cats' with a gray cat looking at the reader."></a>
  <a href="https://sweetcoffy.pages.gay" target="_blank"><img src="https://sweetcoffy.pages.gay/assets/button.png" alt="SweetCoffy" title="SweetCoffy"></a>
  <a href="https://sneexy.pages.gay"><img src="https://sneexy.pages.gay/assets/buttons/sneexy.png" alt="Sneexy" title="Sneexy"></a>
  <img src="https://capstasher.neocities.org/88x31Buttons/antinft_002.gif" width=88 height=31 alt="Button that reads: No nazi, no fascism, no racism" />
  <img src="https://capstasher.neocities.org/88x31Buttons/best_chrome.gif" alt="Button that reads: Best viewed with Chrome" width=88 height=31 />
  <img src="https://capstasher.neocities.org/88x31Buttons/devOnMintGreen.png" alt="88x31 button, it says: 'Developed on Linux Mint'" width=88 height=31 />
  <a href="https://dillo-browser.github.io/pec/"><img src="https://dillo-browser.github.io/pec/class-A.png" alt="All functionality works when JS is disabled." width="88" height="31" /></a>
</div>
