---
layout: layouts/home.njk
eleventyNavigation:
  key: media
  order: 4
---
<link rel="stylesheet" href="/styles/wrapper.css">
<link rel="stylesheet" href="/styles/media.css">

<h2>Media</h2>
<p>
  Here lies my social media accounts. I share my experiences, artwork and talk with people,
  mostly on free, open and federated websites.
</p>
<div class="media mastodon">
  <div>
    <h2>mastodon</h2>
    <a href="http://wetdry.world/@amycatgirl">Follow</a>
  </div>
</div>

<p>
  Mastodon is a decentralized, sleek microblogging website for absolute beginners to the fediverse,
  which offers a familiar design.
</p>

<p>
  My account boosts cat pictures, art, and generally dumb stuff that I find funny or interesting.
  I also express my feelings and opinions over multiple topics, including software development. 
</p>

<div class="media pixelfed">
  <div>
    <h2>pixelfed</h2>
    <a href="http://pixelfed.social/@amycatgirl">Follow</a>
  </div>
</div>
<p>
  I don't quite like the word "clone" to refer to a project but I'll try my best to describe this
  site.
</p>

<p>
  Pixelfed is a federated social media that's inspired by instagram. The site is media-first, which means that
  you can't post anything if it doesn't have at least one image or video attached to it, again, similar to
  Meta's Instagram.
</p>

<p>
  I post photos of my surroundings here. Cats, birds, the sky, the endless void that surrounds us, you name
  it. I also post my artwork and graphics design thingies from time to time to break the monotony of the
  account because I don't do <i>just</i> photography, do I?
</p>

<div class="media revolt">
  <div>
    <h2>revolt.chat</h2>
    <a aria-disabled="true">Soon™</a>
  </div>
</div>
<p>
  Revolt is a free community chatting website that takes cues from discord and tries to make itself a unique
  social media app.
</p>

<p>
  I talk a lot here. Mainly in Lea's Catgirl Dungeon server, feel free to interact with me there :3
</p>

<h3>Buttons</h3>
<div class="wrapper">
  <img src="https://nekoweb.org/static/assets/buttons/button5.gif" alt="Animated 88x11 Button. The button says 'Nekoweb; Web is for cats' with a gray cat looking at the reader.">
</div>
