---
layout: layouts/home.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div class="image">
    <img src="https://images.unsplash.com/photo-1519052537078-e6302a4968d4?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Orange tabby cat loafing on a brown parquet floor">
    <p>Orange tabby cat loafing on a brown parquet floor. Image by <a href="https://unsplash.com/@michaelsum1228">Michael Sum</a> on Unsplash</p>
</div>

<h2>404: Page not found</h2>

<p>It looks like the page you were about to visit does not exist or was moved into a different location.</p>

<p>Check if the URL was typed correctly and try again.</p>