---
permalink: /tags/
layout: layouts/base.njk
---
<link rel="stylesheet" href="/styles/tag.css">
<link rel="stylesheet" href="/styles/wrapper.css">
<script defer src="/scripts/randomTagColours.js"></script>
<h1>Browse tags</h1>
<div class="wrapper">
	{% for tag in collections.all | getAllTags | filterTagList %}
		{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<a href="{{ tagUrl }}" class="tag">#{{ tag }}</a>
	{% endfor %}
</div>
