---
permalink: /tags/
layout: layouts/home.njk
---
<ul>
<section class="tags">
	<h2>Tags</h2>
	{% for tag in collections.all | getAllTags | filterTagList %}
		{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
	{% endfor %}
	</ul>
</section>