---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<link rel="stylesheet" href="/styles/tag.css">
<script defer src="/scripts/randomTagColours.js"></script>

<h1 style="display: inline-flex; gap: 1rem; align-items: center;">Tagged <a class="tag">#{{ tag }}</a></h1>

{% set postslist = collections[ tag ] %}
{% include "postlist.njk" %}

<p>See <a href="/tags/">all tags</a>.</p>
