	<div reversed class="list">
	{% for post in postslist | reverse %}
			<h3 class="title">
				<code>
					<time class="date" datetime="{{ post.date | htmlDateString }}">
						{{ post.date | readableDate("LLLL yyyy") }}
					</time>
				</code>
				<a href="{{ post.url }}">
					{{ post.data.title or post.url }}
				</a>
			</h3>
			{% if post.data.description %}
				<p>
					{{post.data.description}}
				</p>
			{% endif %}
	{% endfor %}
	</div>
