{% for post in postslist | reverse %}
	<a class="card latest" href="{{ post.url }}">
		<h3>{{ post.data.title or post.url }}</h3>
		{% if post.data.description %}
			<p>
				{{post.data.description}}
			</p>
		{% endif %}
		<div class="metadata">
			<span>
				<time class="date" datetime="{{ post.date | htmlDateString }}">
				{{ post.date | readableDate("LLLL yyyy") }}
				</time>
			</span>
		</div>
	</a>
{% endfor %}
