@media screen and (prefers-color-scheme: light) {
	:root {
		/* Colour Palette */
		--colour-accent: #FA1BFF;
		--colour-background: #ffd0f1;
		--colour-foreground: #1f171d;
		--colour-emphasis: #000000;
		--colour-navigation: #58435B;
		--colour-disabled: #72547C;
		--colour-container-first: #ba7087;
		--colour-container-others: #de99b7;

		--colour-disabled-rgb: 114, 84, 124;
	}
}