@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url("/fonts/Cozette/cozette.css");
@import url("./themes/light.css");
@import url("./themes/dark.css");

* {
    box-sizing: border-box;
}

html {
    background-color: var(--colour-background);
    color: var(--colour-foreground);
    font-family: "IBM Plex Sans", "Inter", sans-serif;

    display: flex;

    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    gap: 30px;
    max-width: 50rem;
    width: 100%;
    transition: 100ms ease-in-out;

    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

:is(h1,h2,h3,h4,h5,h6), nav > a:not(.material-symbols-outlined) {
    font-family: "Inter", sans-serif;
}

:is(a, a:visited):not(.material-symbols-outlined, nav > a, .tag, a.card) {
    color: var(--colour-disabled);
    font-weight: 500;
}

:is(a, a:visited).material-symbols-outlined,
:is(a, a:visited).card {
    color: inherit;
}

:is(a, a:visited).card {
    text-decoration: none;
}

:is(h1,h2,h3,h4,h5,h6,p) {
    margin: 0 !important;
}

:is(h1,h2) {
    margin: 1rem 0;
    font-size: 2.5em;
    color: var(--colour-emphasis)
}

h3 {
    font-size: 2em;
}

:is(h4,h5,h6) {
    font-size: 1.7em;
}

nav:not(.miniNav) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

nav:not(.miniNav) h1 {
    color: var(--colour-foreground);
    font-size: 2em;
    margin: 0;
}

nav:not(.miniNav) :is(a, a:visited) {
    font-weight: 600;
    font-size: 1.2em;
    color: var(--colour-navigation);
}

p {
    font-size: 1.3em;
}

.outlined {
    border: 1px solid var(--colour-emphasis)
}

/* Prevent users from selecting symbols/icons */

.material-symbols-outlined {
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (max-width: 60rem) {
    body {
        max-width: unset;
        width: 80%;
    }
}

div.image {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    width: 100%;
    font-family: "Inter", sans-serif;
}

div.image p {
    font-size: .8em;
    color: var(--colour-disabled);
}

div.image :is(a, a:visited) {
    color: var(--colour-disabled);
    font-weight: 600;
}

.visually-hidden:not(:focus):not(:focus-within) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.visually-hidden:is(:focus):is(:focus-within) {
    background: transparent;
    color: var(--colour-emphasis);
    border: 2px dashed var(--colour-emphasis);
    padding: 10px 35px;

    font-weight: 500;
    text-decoration: none;

    width: fit-content;
    display: flex;

    align-items: center;
    justify-content: center;
    outline: none;
}

footer {
    display: flex;
    flex-direction: column;

    width: 100%;
}

footer :is(p) {
    font-family: Cozette;
    font-size: 15px;
    line-height: 1;
}

footer .copyright {
    display: inline-flex;

    border: 1px solid black;
    border-top: 0 !important;
    background-color: #ff7598;
    color: black;

    padding: 2px;
}

footer .copyright :is(a, a:visited) {
    color: black;
}

footer .copyright .icons {
    display: inline-flex;

    gap: 2px;

    margin-left: auto;
    margin-right: 3px;
}

footer .ring {
    position: relative;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    --colour-1: #e4e4e4;
    --colour-2: #d3d3d3;

    background-image: linear-gradient(
        to bottom,
        var(--colour-1) 0%,
        var(--colour-1) 50%,
        var(--colour-2) 50%,
        var(--colour-2) 100%
    );
    clip-path: polygon(0 0, 97.6% 0, 100% 100%, 0% 100%);
    gap: 0;

    z-index: 2;
}

footer .ring > p {
    display: inline-flex;

    align-items: center;

    gap: 8px;

    color: #1b0b13;
    padding: 2px;
}

footer .ring > p :is(a, a:visited) {
    color: #1b0b13;
}

footer .ring > .controls {
    display: flex;
    margin-left: auto;
}

footer .ring > .controls > a {
    height: 100%;
    margin: 0;
    padding: 0;
}

footer .ring > .controls > a button {
    width: 2rem;
    height: 100%;
    border: none;

    clip-path: polygon(0 0, 50% 0, 100% 100%, 50% 100%);
    cursor: pointer;

    padding: 0;
    margin: 0;
}

footer .ring > .controls > a button {
    --colour-1: #fcd2ee;
    --colour-2: #ffafca;

    background-image: linear-gradient(
        to bottom,
        var(--colour-1) 0%,
        var(--colour-1) 50%,
        var(--colour-2) 50%,
        var(--colour-2) 100%
    );
}