header {
    display: flex;
    align-items: center;
    width: 100%;

    transition: all 100ms ease-in-out;
}

header > div.actions {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

header > div.actions a {
    font-size: 1.7em;
}

header > h2 {
    font-size: 3em;
    margin: 0;
}

.card {
    display: block;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--colour-container-others);
}

.card:first-of-type {
    border: 2px solid var(--colour-container-first);
}

.card h3 {
    text-wrap: pretty;
}

.card p:not(.metadata) {
    font-style: italic;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card div.metadata {
    font-weight: 300;
    font-family: monospace;
}

.card div.metadata span {
    padding: 7px;
    border-radius: 50000px;
    border: 1px solid rgba(var(--colour-disabled-rgb), .2);
}

@media screen and (max-width: 580px) {
    header {
        flex-direction: column;
        gap: 1rem;
        align-items: start;
    }

    header > div.actions {
        margin-left: unset;
    }
}
