body {
    display: flex;
    align-items: start;
    
    margin: 0;
}

main {
    width: 90%;
    max-width: unset;
    margin: 1rem;
}

a {
    text-decoration: none;
}

h1 {
    display: inline-flex;
    align-items: center;
    
    gap: 1rem;
}

h1 span {
    font-size: inherit !important;
    background-color: var(--colour-accent);
    color: var(--colour-background);
    padding: 3px;
}

h2 {
    text-decoration: underline;
    margin-bottom: .5rem !important;
}

p {
    text-wrap: pretty;
    font-weight: 300;
    margin-bottom: .5rem !important;
}