a.tag {
    border: 2px solid var(--colour-emphasis);
    border-radius: 8px;
    padding: 5px;

    text-decoration: none;
    color: var(--colour-emphasis);
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.red {
    background-color: #FFA9A955;
}

.green {
    background-color: #BDFFB755;
}

.blue {
    background-color: #A7B0FF55;
}

.orange {
    background-color: #FFDF8D55;
}

.purple {
    background-color: #EDA5FF55;
}

@media screen and (prefers-color-scheme: dark) {
    a.tag {
        color: var(--colour-background);
        border: 2px solid transparent;
    }

    .red {
        background-color: #FFA9A9;
    }

    .green {
        background-color: #BDFFB7;
    }

    .blue {
        background-color: #A7B0FF;
    }

    .orange {
        background-color: #FFDF8D;
    }

    .purple {
        background-color: #EDA5FF;
    }
}
