/* jetbrains-mono-regular */
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 400;
	src: local("JetBrains Mono Regular"), local("JetBrainsMono-Regular"), url(jetbrains-mono-regular.woff2) format("woff2");
	font-display: swap;
}

