<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="theme-color" content="#ff339d" />

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="stylesheet" href="/styles/base.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

		<meta property="og:title" content="{{ title or metadata.title }}" />
		<meta property="og:locale" content="{{ metadata.language }}" />
		<meta property="og:description" content="{{ description or metadata.description }}" />
		<meta property="og:url" content="{{ metadata.author.url }}{{ page.url }}" />
		<meta property="og:site_name" content="{{ metadata.title }}" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary"></meta>
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<nav>
			<h1>Amy</h1>
			{%- for entry in collections.all | eleventyNavigation %}
				<a href="{{entry.url}}">
					{{ entry.title }}
				</a>
			{%- endfor %}
		</nav>	

		<main id="skip">
			{{ content | safe }}
		</main>

				<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
