---
layout: layouts/base.njk
---
<link rel="stylesheet" href="/styles/tag.css">
<link rel="stylesheet" href="/styles/wrapper.css">
<link rel="stylesheet" href="/styles/article.css">
<script defer src="/scripts/randomTagColours.js"></script>
{# Only include the syntax highlighter CSS on blog posts #}
<article>
<header>
	<h2>{{title}}</h2>
	<div class="metadata">
		<span>Published on <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> {% if draft %} - Draft {% endif %}</span>
		{% if tags | filterTagList | length %}
			<div class="wrapper">
				{%- for tag in tags | filterTagList %}
					{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
					<a href="{{ tagUrl }}" class="tag">#{{ tag }}</a>
				{%- endfor %}
			</div>
		{% endif %}
	</div>
</header>
  {{ content | safe }}
</article>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<hr />
<div class="links-nextprev">
	{%- if previousPost %}<p><b>Previous Post:</b> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></p>{% endif %}
	{%- if nextPost %}<p><b>Next Post:</b> <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}
</div>
{%- endif %}
{%- endif %}
