---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<section class="metadata">
	<p>
		<span class="material-symbols-outlined">article</span>
		Written:
		<time datetime="{{ page.date | htmlDateString }}">
			{{ page.date | readableDate }}
		</time>
	</p>
	{% if updated %}
		<p>
			<span class="material-symbols-outlined">edit</span>
			Last Updated:
			<time datetime="{{ updated | htmlDateString }}">
				{{updated | readableDate}}
			</time>
		</p>
	{% endif %}
	{% if tags | filterTagList | length %}
		<p>
			<span class="material-symbols-outlined">sell</span>
			{%- for tag in tags | filterTagList %}
			{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<a href="{{ tagUrl }}" class="tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
			{%- endfor %}
		</p>
	{% endif %}
</section>

<article>
  {{ content | safe }}
</article>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<hr />
<div class="links-nextprev">
	{%- if previousPost %}<p><b>Previous Post:</b> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></p>{% endif %}
	{%- if nextPost %}<p><b>Next Post:</b> <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}
</div>
{%- endif %}
{%- endif %}
